$color-primary: #497dc6;
$color-secondary: #193a5f;

$color-grey-light: #f9f7f6;
$color-grey-dark: #333;

$font-primary: 'Raleway', sans-serif;
$font-display: 'Oswald', sans-serif;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: $font-primary;
    color: $color-grey-dark;
    font-weight: 300;
    line-height: 1.5;
}

ul {
    list-style: none;

    a {
        color: #fff;
        text-decoration: none;
    }
}

main {
    background-color: $color-grey-light; 
}

img {
    width: 100%;
}

.listing {
    background-color: $color-primary;
    height: 15rem;
    display: flex;
    justify-content: center;
    margin: 0;

    @media only screen and (max-width: 550px) {
        height: 20rem;
    }

    @media only screen and (max-width: 360px) {
        height: 22rem;
    }

    .text-wrapper {
        margin: 0 auto;
        width: 40%;
        display: flex;        
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        @media only screen and (max-width: 1200px) {
            width: 50%;
        }

        @media only screen and (max-width: 950px) {
            width: 60%;
        }

        @media only screen and (max-width: 800px) {
            width: 70%;
        }

        @media only screen and (max-width: 650px) {
            width: 80%;
        }

        @media only screen and (max-width: 550px) {
            flex-direction: column;
            align-items: stretch;
            padding: 2rem 0;

            .btn {
                margin: 2rem 0;
            }
        }
    }
}